.moreserv{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 60px;
    background-color: #f65d19;
    border: none;
    color: white;
}
.SliderOne{
    background-image:url("../../../public/bannerOne.jpg");
height: 90vh;
background-size: 100% 100vh;
    background-repeat: no-repeat;
}
.SliderTwo{
    background-image:url("../../../public/bannerTwo.jpg");
height: 90vh;
background-size: 100% 100vh;
    background-repeat: no-repeat;
}
.SliderThree{
    background-image:url("../../../public/bannerThree.jpg");
height: 90vh;
background-size: 100% 100vh;
    background-repeat: no-repeat;
}


.slick-arrow{
    display: none !important;
  
}
.slick-next:before, .slick-prev:before{
    font-size: 63px;
    line-height: 1;
    opacity: .75;
    color: #fff;
}



.owl-dots,.owl-nav{
    display: none;
}
.item{
width: 200px;
}
@media (min-width:767px) { 
    .features {flex-wrap:wrap;}
    .bestDrone{
        width: 65%;
        
    }
    
    
  }
